CSW/CSW_Assignment06_Client/src/conf/xml-resources/web-service-references/UsersWS/wsdl/localhost_8080/UsersWS/UsersWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="UsersWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/UsersWS/UsersWS?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="all">
<part name="parameters" element="tns:all"/>
</message>
<message name="allResponse">
<part name="parameters" element="tns:allResponse"/>
</message>
<message name="searchById">
<part name="parameters" element="tns:searchById"/>
</message>
<message name="searchByIdResponse">
<part name="parameters" element="tns:searchByIdResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<portType name="UsersWS">
<operation name="delete">
<input wsam:Action="http://ws/UsersWS/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws/UsersWS/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://ws/UsersWS/insertRequest" message="tns:insert"/>
<output wsam:Action="http://ws/UsersWS/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="all">
<input wsam:Action="http://ws/UsersWS/allRequest" message="tns:all"/>
<output wsam:Action="http://ws/UsersWS/allResponse" message="tns:allResponse"/>
</operation>
<operation name="searchById">
<input wsam:Action="http://ws/UsersWS/searchByIdRequest" message="tns:searchById"/>
<output wsam:Action="http://ws/UsersWS/searchByIdResponse" message="tns:searchByIdResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://ws/UsersWS/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://ws/UsersWS/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws/UsersWS/editRequest" message="tns:edit"/>
<output wsam:Action="http://ws/UsersWS/editResponse" message="tns:editResponse"/>
</operation>
</portType>
<binding name="UsersWSPortBinding" type="tns:UsersWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="all">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsersWS">
<port name="UsersWSPort" binding="tns:UsersWSPortBinding">
<soap:address location="http://localhost:8080/UsersWS/UsersWS"/>
</port>
</service>
</definitions>