CSW/CSW_Assignment02_Client/web/WEB-INF/wsdl/localhost_8080/CSW_Assignment02_Server/LoginWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="LoginWS">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://localhost:8080/CSW_Assignment02_Server/LoginWS?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="LoginWS">
<operation name="add">
<input wsam:Action="http://test/LoginWS/addRequest" message="tns:add"/>
<output wsam:Action="http://test/LoginWS/addResponse" message="tns:addResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://test/LoginWS/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://test/LoginWS/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://test/LoginWS/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://test/LoginWS/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://test/LoginWS/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://test/LoginWS/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://test/LoginWS/editRequest" message="tns:edit"/>
<output wsam:Action="http://test/LoginWS/editResponse" message="tns:editResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://test/LoginWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://test/LoginWS/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="LoginWSPortBinding" type="tns:LoginWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginWS">
<port name="LoginWSPort" binding="tns:LoginWSPortBinding">
<soap:address location="http://localhost:8080/CSW_Assignment02_Server/LoginWS"/>
</port>
</service>
</definitions>