CSW/CSW_Assignment02_Client/web/WEB-INF/wsdl/localhost_8080/CSW_Assignment02_Server/LoginWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="editResponse" type="tns:editResponse"/>

<xs:element name="getAll" type="tns:getAll"/>

<xs:element name="getAllResponse" type="tns:getAllResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="fullname" type="xs:string" minOccurs="0"/>
<xs:element name="level" type="xs:short" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>