WEA/Lab14InterestCalculator_Client/src/conf/xml-resources/web-service-references/InterestCalculatorWS/wsdl/localhost_8080/InterestCalculatorWS/InterestCalculatorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="simple_interest" type="tns:simple_interest"/>

<xs:element name="simple_interestResponse" type="tns:simple_interestResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simple_interest">
<xs:sequence>
<xs:element name="principal" type="xs:double"/>
<xs:element name="rate" type="xs:double"/>
<xs:element name="duration" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simple_interestResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>