WEA/Lab14Ass_Client/web/WEB-INF/wsdl/localhost_8080/InterestWS/InterestWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="InterestWS">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://localhost:8080/InterestWS/InterestWS?xsd=1"/>
</xsd:schema>
</types>
<message name="interestCalculator">
<part name="parameters" element="tns:interestCalculator"/>
</message>
<message name="interestCalculatorResponse">
<part name="parameters" element="tns:interestCalculatorResponse"/>
</message>
<message name="checkAccountNumber">
<part name="parameters" element="tns:checkAccountNumber"/>
</message>
<message name="checkAccountNumberResponse">
<part name="parameters" element="tns:checkAccountNumberResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getBalance">
<part name="parameters" element="tns:getBalance"/>
</message>
<message name="getBalanceResponse">
<part name="parameters" element="tns:getBalanceResponse"/>
</message>
<portType name="InterestWS">
<operation name="interestCalculator">
<input wsam:Action="http://test/InterestWS/interestCalculatorRequest" message="tns:interestCalculator"/>
<output wsam:Action="http://test/InterestWS/interestCalculatorResponse" message="tns:interestCalculatorResponse"/>
</operation>
<operation name="checkAccountNumber">
<input wsam:Action="http://test/InterestWS/checkAccountNumberRequest" message="tns:checkAccountNumber"/>
<output wsam:Action="http://test/InterestWS/checkAccountNumberResponse" message="tns:checkAccountNumberResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://test/InterestWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://test/InterestWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getBalance">
<input wsam:Action="http://test/InterestWS/getBalanceRequest" message="tns:getBalance"/>
<output wsam:Action="http://test/InterestWS/getBalanceResponse" message="tns:getBalanceResponse"/>
</operation>
</portType>
<binding name="InterestWSPortBinding" type="tns:InterestWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="interestCalculator">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAccountNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InterestWS">
<port name="InterestWSPort" binding="tns:InterestWSPortBinding">
<soap:address location="http://localhost:8080/InterestWS/InterestWS"/>
</port>
</service>
</definitions>