WEA/Lab14Ass_Client/web/WEB-INF/wsdl/localhost_8080/InterestWS/InterestWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="checkAccountNumber" type="tns:checkAccountNumber"/>

<xs:element name="checkAccountNumberResponse" type="tns:checkAccountNumberResponse"/>

<xs:element name="getBalance" type="tns:getBalance"/>

<xs:element name="getBalanceResponse" type="tns:getBalanceResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="interestCalculator" type="tns:interestCalculator"/>

<xs:element name="interestCalculatorResponse" type="tns:interestCalculatorResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBalance">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBalanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="interestCalculator">
<xs:sequence>
<xs:element name="rate" type="xs:double"/>
<xs:element name="duration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="interestCalculatorResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAccountNumber">
<xs:sequence>
<xs:element name="acc" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAccountNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>