CSW/CSW_Exam_Client/src/conf/xml-resources/web-service-references/BookWS/wsdl/localhost_8080/BookWS/BookWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BookWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/BookWS/BookWS?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="all">
<part name="parameters" element="tns:all"/>
</message>
<message name="allResponse">
<part name="parameters" element="tns:allResponse"/>
</message>
<message name="searchLike">
<part name="parameters" element="tns:searchLike"/>
</message>
<message name="searchLikeResponse">
<part name="parameters" element="tns:searchLikeResponse"/>
</message>
<portType name="BookWS">
<operation name="delete">
<input wsam:Action="http://ws/BookWS/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws/BookWS/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="all">
<input wsam:Action="http://ws/BookWS/allRequest" message="tns:all"/>
<output wsam:Action="http://ws/BookWS/allResponse" message="tns:allResponse"/>
</operation>
<operation name="searchLike">
<input wsam:Action="http://ws/BookWS/searchLikeRequest" message="tns:searchLike"/>
<output wsam:Action="http://ws/BookWS/searchLikeResponse" message="tns:searchLikeResponse"/>
</operation>
</portType>
<binding name="BookWSPortBinding" type="tns:BookWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="all">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookWS">
<port name="BookWSPort" binding="tns:BookWSPortBinding">
<soap:address location="http://localhost:8080/BookWS/BookWS"/>
</port>
</service>
</definitions>